<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Outer Rim Blazor App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @foreach (var navItem in _items)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@navItem.Link" Match="NavLinkMatch.All">
                    @navItem.Name
                </NavLink>
            </div>
        }
    </nav>
</div>

@code
{
    class NavItem(string name, string link)
    {
        public string Name { get; set; } = name;
        public string Link { get; set; } = link;
    }

    List<NavItem> _items =
    [
        new NavItem("Aircrafts", ""),
        new NavItem("Aircraft Crews", "AircraftCrews"),
        new NavItem("Aircraft Specification", "AircraftSpecifications"),
        new NavItem("Compartments", "Compartments"),
        new NavItem("Crime Syndicates", "CrimeSyndicates"),
        new NavItem("Machineries", "Machineries"),
        new NavItem("Mercenaries", "Mercenaries"),
        new NavItem("Mercenary Reputations", "MercenaryReputations"),
        new NavItem("Swagger", "Swagger"),
        new NavItem("Tic Tac Toe", "TicTacToe"),
    ];
}
