@page "/AircraftCrews"
@using Model.Entities
<h1>Aircraft Crews</h1>
<br>
<PageTitle>Aircraft Crews</PageTitle>

<h3>Create</h3>

<form id="create">
    <div class="form-group row my-2">
        <label for="aircraftid_c" class="col-sm-2 col-form-label">Aircraft Id</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="aircraftid_c" aria-describedby="aircraftid_c"/>
        </div>
    </div>
    <div class="form-group row my-2">
        <label for="mercenaryid_c" class="col-sm-2 col-form-label">Mercenary Id</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="mercenaryid_c" aria-describedby="mercenaryid_c"/>
        </div>
    </div>
    <div class="form-group row my-2">
        <label for="joinedat_c" class="col-sm-2 col-form-label">Joined At</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="joinedat_c" aria-describedby="joinedat_c"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary my-2">Submit</button>
</form>

<hr>

<h3>Read</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Aircraft Id</th>
        <th scope="col">Mercenary Id</th>
        <th scope="col">Joined At</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var aircraftCrew in _aircraftCrews)
    {
        <tr>
            <td>@aircraftCrew.AircraftId</td>
            <td>@aircraftCrew.MercenaryId</td>
            <td>@aircraftCrew.JoinedAt.ToString("dd.MM.yyyy")</td>
        </tr>
    }
    </tbody>
</table>

<hr>

<h3>Update</h3>

<form id="update">
    <div class="form-group row my-2">
        <label for="aircraftid_u" class="col-sm-2 col-form-label">Aircraft Id</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="aircraftid_u" aria-describedby="aircraftid_u"/>
        </div>
    </div>
    <div class="form-group row my-2">
        <label for="mercenaryid_u" class="col-sm-2 col-form-label">Mercenary Id</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="mercenaryid_u" aria-describedby="mercenaryid_u"/>
        </div>
    </div>
    <div class="form-group row my-2">
        <label for="joinedat_u" class="col-sm-2 col-form-label">Joined At</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="joinedat_u" aria-describedby="joinedat_u"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary my-2">Submit</button>
</form>

<hr>

<h3>Delete</h3>

<form id="delete">
    <div class="form-group row my-2">
        <label for="aircraftid_d" class="col-sm-2 col-form-label">Aircraft Id</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="aircraftid_d" aria-describedby="aircraftid_d"/>
        </div>
    </div>
    <div class="form-group row my-2">
        <label for="mercenaryid_d" class="col-sm-2 col-form-label">Mercenary Id</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="mercenaryid_d" aria-describedby="mercenaryid_d"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary my-2">Submit</button>
</form>

@code {

    List<AircraftCrew> _aircraftCrews =
    [
        new AircraftCrew(1, 1, new DateTime(2025, 1, 15))
    ];

}