.tic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tic-field {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    gap: 1rem;
}

.tic-field > button {
    padding: 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: lightblue;
}

.result-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.result-container > div {
    width: 50%;
}
.result-container > button {
    padding: 1rem;
    border-radius: 0.5rem;
}
.result-container > div > div {
    text-align: center;
}
